In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('TrainingDataset.csv')
df

,Outcome_M1,Outcome_M2,Outcome_M3,Outcome_M4,Outcome_M5,Outcome_M6,Outcome_M7,Outcome_M8,Outcome_M9,Outcome_M10,...,Cat_505,Cat_506,Cat_507,Cat_508,Cat_509,Cat_510,Cat_511,Cat_512,Cat_513,Cat_514
0,10000,3000.0,8000.0,3000.0,3000.0,2000.0,2000.0,500.0,500.0,500.0,...,0,0,0,1,0,1,0,0,0,1
1,8000,8000.0,2000.0,3000.0,2000.0,500.0,2000.0,2000.0,3000.0,500.0,...,0,0,0,1,0,0,0,0,0,1
2,5000,15000.0,8000.0,3000.0,3000.0,2000.0,2000.0,2000.0,2000.0,500.0,...,0,0,0,1,0,0,0,0,0,1
3,35000,8000.0,8000.0,5000.0,5000.0,3000.0,2000.0,3000.0,6000.0,2000.0,...,0,0,0,1,0,1,0,0,0,1
4,16000,2000.0,2000.0,500.0,500.0,500.0,500.0,500.0,500.0,500.0,...,0,0,0,1,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
746,45000,35000.0,6000.0,3000.0,3000.0,2000.0,2000.0,2000.0,2000.0,2000.0,...,0,0,0,1,0,0,2,0,0,1
747,2000,2000.0,2000.0,500.0,500.0,500.0,500.0,500.0,2000.0,500.0,...,0,0,0,1,0,0,0,0,0,1
748,10000,2000.0,500.0,500.0,500.0,2000.0,3000.0,500.0,2000.0,500.0,...,0,0,0,1,0,0,0,0,0,1
749,11000,3000.0,2000.0,2000.0,2000.0,500.0,500.0,500.0,2000.0,2000.0,...,0,0,0,1,0,0,0,0,0,1
750,18000,6000.0,2000.0,2000.0,2000.0,2000.0,2000.0,500.0,2000.0,2000.0,...,0,0,0,1,0,1,0,0,0,1

In [3]:
df = df.dropna(subset=['Outcome_M1', 'Outcome_M2', 'Outcome_M3', 'Outcome_M4', 'Outcome_M5', 'Outcome_M6',
                       'Outcome_M7', 'Outcome_M8', 'Outcome_M9', 'Outcome_M10', 'Outcome_M11', 'Outcome_M12'])

In [4]:
df_temp = df.drop(['Outcome_M2', 'Outcome_M3', 'Outcome_M4', 'Outcome_M5', 'Outcome_M6',
       'Outcome_M7', 'Outcome_M8', 'Outcome_M9', 'Outcome_M10', 'Outcome_M11', 'Outcome_M12'], axis=1)

In [5]:
X = df_temp[list(set(df_temp.columns) - set(['Outcome_M1']))]

In [6]:
X = X.fillna(0)

In [7]:
y = df_temp[['Outcome_M1']]

In [8]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [10]:
from sklearn.preprocessing import StandardScaler
from sklearn.neural_network import MLPRegressor

# # Scale the data
# scaler = StandardScaler()
# X_train = scaler.fit_transform(X_train)
# X_test = scaler.transform(X_test)

# Create the model
model = MLPRegressor(hidden_layer_sizes=(128, 64, 32), activation='relu', solver='adam', max_iter=2000)

# Train the model
model.fit(X_train, y_train)

# Make predictions on the testing data
y_pred = model.predict(X_test)

/home/ashish/anaconda3/envs/googleai_202406/lib/python3.12/site-packages/sklearn/neural_network/_multilayer_perceptron.py:1624: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [11]:
import numpy as np

def mse(y_pred, y_true):
    return np.mean((y_pred - y_true) ** 2)

mse_value = mse(y_pred, y_test['Outcome_M1'].values)
print("MSE:", mse_value)

MSE: 2913790967.664342

### From Random Forest: 1843739464.84375
### From MLP (No Scaling, Fillna(0)): 2723151302.5054903